/* Hide the default Drupal throbber image */
.ajax-progress .throbber {
  background-image: none;
}

/* Replace with a Bootstrap spinner */
.ajax-progress-throbber .throbber {
  width: 1.5rem;
  height: 1.5rem;
  border: 0.2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
}
