/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */


/**
 * General style
 */

h1, h2, h1 a, h2 a {
    font-family: 'Open Sans', sans-serif;
}
h1, h1 a {
	font-weight: 600;
	font-size: 30px;
}
h2, h2 a {
	font-weight: 400;
	font-size: 22px;
}

h3, h4, h5, h6 {
	font-size: 18px;
}

h3, h4, h5, h6, h3 a {
    font-family: 'Open Sans', sans-serif;
}
h3, h3 a {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
}
body, p, a, li {
    font-family: 'Open Sans', sans-serif;
}

a {
	color: #db7317;
}

a:link {
	color: #db7317;
}

a:visited {
	color: #db7317;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	text-decoration: underline;
}


h1,h2,h3,h4,h5,content, .region-footer {
	color: #555555;
}


.main-container .row {
	max-width: 1700px;
	left: 50%;
	margin: auto;
}

.breadcrumb {
	background: transparent;
}

/**
 * Admin/Edit Tabs
 */


.nav-tabs {
	margin-bottom: 1em;
}


/**
 * Blocks
 */

.block-views, .block-facets  {
	border-radius: 8px 8px 8px 8px !important;
	border-bottom: 1px solid #DCDCDC;
	border-left: 1px solid #DCDCDC;
	border-right: 1px solid #DCDCDC;
	padding-top: 0px;
}

.block-facets {
	margin-bottom: 10px;
}

.block-title {
	border-radius: 8px 8px 0px 0px !important;
	background-color: #6d9538;
	color: #FFFFFF !important;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-top: 0em;
}


.view-content:last-child {
	margin-bottom: 15px;
} 


.well {
	background-color: transparent;
	border: none;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.block-block-content {
	border-radius: 8px 8px 8px 8px !important;
	border-bottom: 1px solid #DCDCDC;
	border-left: 1px solid #DCDCDC;
	border-right: 1px solid #DCDCDC;
}

/**
 * Facet Blocks
 *
 * item-list__checkbox js-facets-widget
 */
.js-facets-checkbox-links  {
	list-style-type: none;
}

.facet-item__value {
	padding-left: 10px;
	font-weight: 400;
}


/**
 * Quick Search Block
 */

.custom-quick-search-block {
	border: 0px;
	padding-bottom: 10px;
}

/**
 * Long Icons Hover Effects
 */

.hover_container {
	position: relative;
	width: 150px;
}

.hover_image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.hover_container:hover .hover_image {
  opacity: 0.3;
}

/*
 * Pager 
 */
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #6d9538;
    border-color: #58782d;
}
.pagination>li>a, .pagination>li>span {
    color: #db7317;
}
/**
 * Change color of search button only for the search interface
 */

.block-search .btn-primary, .btn-info {
    color: #fff;
    background-color: #6d9538 !important;
    border-color: #58782d !important;
}

.block-search .btn-primary:hover, .btn-info:hover {
    background-color: #58782d !important;
}

/**
 *  Main Navigation Menu
 */
 
#navbar {
	background-color: #FFFFFF;
    border-color: transparent;
	border-bottom: solid #d1d5da 1px;
}

#superfish-main a, #superfish-main .nolink {
	background-color: #FFFFFF;
    color: #535a60;
	border-radius: 8px 8px 8px 8px;
}

/*
 * Adds an arrow to parents
 */
 

#superfish-main .nolink:after {
	content: "\25be";
	float: right;
}

#superfish-main a:hover {
	background-color: #DCDCDC;
    color: #000000;
	border-radius: 8px;
	text-decoration: none;
} 


#superfish-main ul {
	text-decoration: none;
	border: 1px solid #DCDCDC;
	overflow:hidden;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px; 
}

#superfish-main ul a:hover {
	border: 0px;
	border-radius: 0px;
}

#superfish-main ul a:hover :first-of-type {
	border: 1px solid #DCDCDC;
	border-radius: 8px 8px 0px 0px;
}

#superfish-main ul a:hover :last-of-type {
	border: 1px solid #DCDCDC;
	border-radius: 0px 0px 8px 8px;
}

/*
 * DEIMS Logo and Home Button
 */

#main-standardfront-page {
	background-image: url('../images/logo_title_inline_height20.png');
	background-repeat: no-repeat;
	background-position: 50% 50%; 
	width: 160px;
	height: 35px;
}

#main-standardfront-page a {
	color: transparent !important;
	background-color: transparent !important;
	width: 160px;
	height: 35px;
}

#main-standardfront-page:hover {
	background-color: #DCDCDC;
	border-radius: 8px;	
}

/**
 *  Footer
 */

#superfish-footer {
	font-size: 85%;
	display: flex;
	justify-content: center;
}

#superfish-footer a {
	padding-top: 0px;
}

/**
 *  Block Settings
 */

#block-quickstart .field, .latest_updates_block .views-row {
	padding: 0.25em;
}

/**
 *  Latest Updates Block
 */

.latest_updates_block .views-row a {
	font-weight:normal;
}


.latest_updates_block .view-content {
	padding-left: 10px;
}


.latest_updates_block img {
	margin-right: 1em;
} 

/**
 *  Tips Block; remove border
 */
 
#block-tips {
	border: none;
	text-align: right;
}


/**
 *  Node Display
 */


/**
 *  Regions Display
 */

.group-header, .group-left, .group-right {
	padding-bottom: 1em;
}
.group-left {
	padding-right: 1em;
}

.custom-collapsible-details .panel-heading a {
	color: #db7317;
}

.custom-collapsible-details .panel-heading a:hover {
	color: #db7317;
	text-decoration: underline;
}

.custom-collapsible-details .panel-heading a:after {
	content: "\25be";
	float: left;
}

.panel-default {
	border: 1px solid #ccc;
}

.panel-title {
	font-size: 14px;
	padding: 5px 15px;
	color: #666666;
}

.panel-title:hover {
	color: #666666;
}

.panel-default .panel-heading {
	background: #dbdbdb;
    border-bottom: none;
}

/*
 * Status message for inactive sites
 */
.inactive-site-status {
    color: #31708f;
    background-color: #d9edf7;
    border: 1px solid #DADADA;
    border-color: #bce8f1;
    border-radius: 5px;
    padding: 0.75em;
    text-align: left;
    margin-top: 1em;
}